<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% for pelicula in lista %} <!--Para abrir condiciones/ciclos se usan llaves y porcentajes-->

        <p>{{pelicula.titulo}} - {{pelicula.cantidad}} </p> <!--Imprimo la iteracion con la variable que recorre la lista 'n'-->
                                    <!--Con el punto se accede al atributo de la tabla-->
    {% endfor %}
        
</body>
</html>