<!DOCTYPE html>
 <!--Carga de la carpeta de archivos statricos-->
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <title>Document</title>
</head>
<body>
    <h1 class='ejemplo'>EL nuevop</h1>
    <h2 class='ejemplo1'>Otro Ejemplo</h2>
    <a href="about.html" class="button">Learn More</a>
    <a href="#features" class="button">View All Features</a>

<!-- Buttons (actions) -->
    <button type="button" class="success button">Save</button>
    <button type="button" class="alert button">Delete</button>
    <button type="submit">Guardar</button>
</body>
</html>