{% extends 'base.html' %}
{% block content %}

{% include 'includes/header.html' %} <!--Recordar poner adentro del bloc content-->

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Lista Empleado</h1>
        <form class="cell grid-x grid-margin-x" method="GET">{% csrf_token %}<!--Para separar de sus hijos, Form para poder pedir datos--> 
            <div class="cell large-7">
                <input type="text" id="kword" name="kword" placeholder="Buscar Empleado"> <!--Kword para recuperar el archivo-->
            </div>
            <div class="cell large-2">
                <button type="submit" class="success button">Buscar</button>
            </div>
          </form>
        <div class="cell"> <!--Tabla carga empleados resultados-->
            <table>
                <thead>
                  <tr>
                    <th width="150">ID</th>
                    <th width="150">Nombres</th>
                    <th width="150">Apellidos</th>
                    <th width="150">Departamentos</th>
                    <th width="150">Accion</th>
                  </tr>
                </thead>
                <tbody>
                  {% for n in empleados %}
                  <tr>
                    <td>{{n.id}}</td>
                    <td>{{n.first_name}}</td>
                    <td>{{n.last_name}}</td>
                    <td>{{n.departamento}}</td>
                    <td><a class="button warning" href="{% url 'persona_app:empleado_detalle' n.id %}">Ver</a></td> <!--Pasar parametro de id para ver mas detalles-->
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
        <div class="cell">
          
          {% if is_paginated %}
          <nav aria-label="Pagination">
            <ul class="pagination">
              {% if page_obj.has_previous %} <!--objecto de la paginacion, siempre importante validar pagina previa y siguiente--> 
              <li class="pagination-previous">
                <a href="?page={{page_obj.previous_page_number}}">Atras</a> <!--El objeto trae esa funcion de ver pagina previa-->
              </li>
              {% else %}
              <li class="pagination-previous">
                <a class="disabled">Atras</a> <!--El objeto trae esa funcion de ver pagina previa-->
              </li>
              {% endif %}
              
              
              {% for pagina in paginator.page_range %}
              <!--Paginacion y color sobre pagina en numero de navegacion-->
              {% ifequal pagina page_obj.number  %}
              <li class="current"><span class="show-for-sr">You're on page</span>{{pagina}}</li>
              {% else %}
                <li><a href="?page={{pagina}}">{{pagina}}</a></li>
              {% endifequal %}
      
              {% endfor %}

              
              {% if page_obj.has_next %} <!-- siempre importante validar pagina previa y siguiente--> 
              <li class="pagination-next">
                <a href="?page={{page_obj.next_page_number}}">Siguiente</a> <!--El objeto trae esa funcion de ver pagina previa-->
              </li>
              {% else %}
              <li class="pagination-next">
                <a class="disabled">Siguiente</a> <!--El objeto trae esa funcion de ver pagina previa-->
              </li>
              {% endif %}
            </ul>
          </nav>
          {% endif %}     
        </div>
    </div>
</div>

{% endblock content %}
    


